LookScore/LookScoreAdmin/Connected Services/LookScoreWCF/GameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61268/GameService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61268/GameService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61268/GameService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:61268/GameService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LookScoreInterfaces.Model.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameService_GetAllGamesTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGamesTitle" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetAllGamesTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGamesTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_FindAllGames_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllGames" />
  </wsdl:message>
  <wsdl:message name="IGameService_FindAllGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllGamesResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameService">
    <wsdl:operation name="GetAllGamesTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/GetAllGamesTitle" message="tns:IGameService_GetAllGamesTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/GetAllGamesTitleResponse" message="tns:IGameService_GetAllGamesTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/FindAllGames" message="tns:IGameService_FindAllGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/FindAllGamesResponse" message="tns:IGameService_FindAllGames_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameService" type="tns:IGameService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllGamesTitle">
      <soap:operation soapAction="http://tempuri.org/IGameService/GetAllGamesTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllGames">
      <soap:operation soapAction="http://tempuri.org/IGameService/FindAllGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameService">
    <wsdl:port name="BasicHttpBinding_IGameService" binding="tns:BasicHttpBinding_IGameService">
      <soap:address location="http://localhost:61268/GameService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>