LookScore/LookScoreViewerClient/Connected Services/LookScoreWCF/GameService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LookScoreInterfaces.Model.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LookScoreInterfaces.Model.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGame" nillable="true" type="tns:ArrayOfGame" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GameTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GuestClub" nillable="true" type="tns:Club" />
      <xs:element minOccurs="0" name="HomeClub" nillable="true" type="tns:Club" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="Club">
    <xs:sequence>
      <xs:element name="_x003C_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FormedYear_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_LogoUrl_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PlayersCount_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ShortName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Club" nillable="true" type="tns:Club" />
</xs:schema>